header,
.welcome-details, 
.avatar-section,
.user-info {
  display: flex;
}

header {
  height: 8em;
  background-color: #309966;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

header h1 {
  font-size: 1.8em;
  color: #002C90;
}

header p {
  color: #FFFFFF;
}

.welcome-details,
.avatar-section {
  flex-direction: column;
  margin: 10px;
  justify-content: center;
}

.avatar-section button {
  font-size: 0.8em;
  color: #002C90;
  background: none;
  border: none;
}

.small-logo,
.avatar-photo {
  width: 6em;
  height: 6em;
  border-radius: 100%;
}

.small-logo {
  background-color: #9BF2C8;
  align-self: center;
}

main {
  height: 100%;
}