/* White: #FFFFFF;
Magic Mint: #9BF2C8;
Illuminating Emerald: #309966;
Cadmium Green: #0D663B;
Dark Green: #003019; */
.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: #003019;
}

.landing-page h1 {
  margin: 2%;
  font-size: 3rem;
}

.icon-landing {
  width: 15rem;
}

.container-landing {
  width: 55%;
  padding: 1% 2% 10%;
  background-color: #9BF2C8;
  border-radius: 30px;
}

@media only screen and (max-width: 875px) {
  .container-landing {
    width: 70%;
    height: 70%;
  }
}

@media only screen and (max-width: 760px) {
  .container-landing {
    width: 90%;
    height: 90%;
    padding-bottom: 0;
  }
}