.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #003019;
  background-image: url('/images/blucifer.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-page h1 {
  margin: 2%;
  font-size: 3rem;
}

.icon-landing {
  -webkit-filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
  width: 15rem;
  height: 15rem;
  filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
}

.container-landing {
  height: 80%;
  width: 55%;
  padding: 1% 2% 10%;
  border-radius: 30px;
  background-color:rgba(155, 242, 200, 0.8);;
  text-align: center;
}

@media only screen and (max-width: 875px) {
  .container-landing {
    width: 70%;
    height: 70%;
  }
}

@media only screen and (max-width: 760px) {
  .container-landing {
    width: 90%;
    height: 90%;
    padding-bottom: 0;
  }
}