* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html,
body,
#root,
.App,
main,
.main-page {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-page {
  display: grid;
  grid-auto-rows: 100px;
  grid-template-areas:
    "header header header header"
    "nav container container container"
    "nav container container container"
    "nav container container container";
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

nav, header {
  position: fixed;
}

nav,
header {
  box-shadow: 0.1em 0.1em 0.5em #003019;
}

h1,
h2,
h3,
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

nav button,
.card button {
  margin: 0.8em 0;
  padding: 0.5em;
  border: none;
  border-radius: 0.2em;
  background-color: #309966;
  box-shadow: 0.1em 0.1em 0.5em;
  color: #ffffff;
  font-size: 1em;
  text-align: center;
}

button {
  cursor: pointer;
}

button:hover, 
.active button {
  background-color: #003019;
  
}

.container {
  display: flex;
  grid-area: container;
  flex-wrap: wrap;
  width: 100%;
  padding: 2em 1em 1em 5em;
  column-gap: 1em;
  column-count: 4;
}

.card {
  display: inline-block;
  width: 100%;
  min-width: 15em;
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #309966;
  border-radius: 3px;
  background-color: rgba(155, 242, 200, 0.7);
}